.contenedordetalle {
    display: flex;
    flex: 1;
    align-items: center;
    margin: 50px;
    padding: 50px;
    background-color:white;
    border-radius: 15px;
  }
  
  .contenedorimg {
    width: 350px;
  }
  
  .img {
    min-width: 250px;
    width: 90%;
    border-radius: 15px;
  }
  
  .contenedortitulo {
    padding: 50px;
  }
  
  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }