.contenedor{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 21rem),1fr));
    justify-items: center;
    gap: 1rem;
    flex: 1;
}
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}