.contenedorlogin {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.btn-primary1{
    width: 100px;
}
.bienvenida {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }